@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* ============ NAV ============*/

.encabezado { 
    border-bottom: 4px solid #DAE5DE;    
}

.cofLogo {
    width: 7rem;
    border-radius: 0.5rem;
}

.fuentesNav {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2rem;
}

/* ============ FOOTER ============*/

.footerText {
    font-weight: bold;
}

/* ============ INDEX ============*/


/* .backgroundMain {
    background: radial-gradient(circle, rgba(200,201,205,1) 0%, rgba(71,131,66,1) 100%);    
} */


.imgIndex1 {
    width: 50vw;
    border-radius: 1rem;
    margin-left: 8rem;
    margin-top: 2rem;    
}

.tituloIndex {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
}

.parrafoIndex { 
    color: rgb(104, 81, 37);
}

/* ============ INDEX - VESION MOBILE ============*/

@media (min-width:100px) and (max-width:365px) {
    .imgIndex1 {
        width: 60vw;
        border-radius: 10%;
        margin-left: 2rem;
        margin-top: 1em;       
    }   
}

/* ============ VESION MOBILE ============*/

@media (min-width:100px) and (max-width:365px) {
    .textoContainer {
        padding-top: 0px;
    }

    .tituloIndex {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;   
    }

    .imgIndex1 {
        width: 70vw;
        border-radius: 10%;
    }
}

/* ============ NOSOTROS ============*/

    .sectionNos1 {
    background-color: aliceblue;
}

    .subtituloContenedor {
     font-family: font-family: 'Roboto', sans-serif;
}

.subtitulosTres {
    font-family: font-family: 'Roboto', sans-serif;    
}

.parrafoNosotros {
    font-family: font-family: 'Roboto', sans-serif;  
  } 

.imgNuestro {
    width: 610px; 
    height: 610px;
    border-radius: 4px; 
}

.sectionNos2 {
    background-image:url("../img/img.nosprueba3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.imgNosotros {
    height: 800px;
    width: 620px;
}

/* ============ VESION TABLET - MOBILE ============*/

@media (min-width:100px) and (max-width:600px) {
    .imgNuestro {
        width: 300px; 
        height: 300px; 
    }
}

/* ============ CHARLAS ============*/

.subtituloCharlas {
    text-align: center;
    font-size: 25px;
    padding: 1rem;
}

.multimediaCharlas {
    width: 620px;
    border-radius: 10px;
}

.videoCharlas {
    width: 581px;
    border-radius: 10px;
    margin-left: 20px;
}

.textoVideo {
    text-align: center;
    font-size: 25px;
    animation-name: animationtex;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes animationtex {
    0% {color: black;
    } 
    100% {color: red;
    }
}

/* ============ VESION MOBILE ============*/

@media (min-width:100px) and (max-width:370px) {
    .multimediaCharlas {
        width: 300px; 
        height: 200px;
        padding-left: 10px; 
    }
}

@media (min-width:100px) and (max-width:370px) {
    .videoCharlas {
        width: 320px; 
        height: 200px;
        padding-right: 40px;
        padding-top: -10px; 
    }
}

